.logo{
    margin-left: 10px;
}
.logo1{
    margin-right: 5px;
    width: 50px;
    height: 50px;
}
.logo2{
    width: 70px;
    height: 40px;
    margin-right: 15px;
}
.login{
    size: 22px;
    text-decoration: none;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5px;
}
.CATEGORY{
    margin-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 40px;
}
.line{
    margin-top: 10px;
    float: left;
    height: 2px;
    width: 6%;
    background-color: #3cc6aa;
}
.txt{
    font-weight: 3px;
 margin-left: 9px;
 text-decoration: none;
 color: #3cc6aa;
 font-size: 18px;
}
.txt:hover{
    color: #3cc6aa;
}
.im1{
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.img1, .img2, .img3{
    margin-top: 40px;
    width: 400px;
    height: 220px;
}
.img4, .img5, .img6{
    width: 400px;
    height: 220px;
    margin-top: 40px;
}
.BESTSELLER{
    margin-top: 550px;
    margin-left: 18px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
}
.Goods{
    margin-left: 71px;
}
.Goods1{
    margin-right: 10px;
    float: left;
    width: 23%;
    height: 40%;
}
.Explanation1{
    font-size: 13px;
    color: #888888;
    font-family: 'Noto Serif KR', serif;
}
.Explanation2{
    font-size: 14px;
    color: #333333;
    font-family: 'Noto Serif KR', serif;
}
.price{
    font-size: 17px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
}
.NEWARRIVALS{
    margin-top: 400px;
    margin-left: 18px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
}
.ARRIVALS{
    margin-left: 30px;
}
.BLOG{
    margin-top: 1660px;
    margin-left: 18px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
}
.BLOG1{
    margin-right: 35px;
    float: left;
    width: 30%;
    height: 20%;
}
.text1{
    float: left;
    margin-right: 5px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
.text2{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    font-size: 15px;
}
.INSTAGRAM{
    margin-top: 350px;
    margin-left: 18px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
}
.txtinst{
    color: #999999;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-left: 80px;
}
.textt1, .textt2, .textt3, .textt4{
    float: left;
    text-decoration: none;
    color: #888888;
    size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 12px;
    margin-top: 40px;
}
.textt1, .textt2, .textt3, .textt4:hover{
    color: #888888;
}
.bottom{
    margin-left: 50px;
}
.board{
    margin-top: 200px;
}
.Noticetxt1,.Banktext,.CUtext{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
.Notice{
    margin-left: 63px;
    float: left;
}
.Noticetxt2{
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    color: #888888;
}
.Noticetxt2:hover{
    color: #888888;
}
.BANK{
    margin-left: 360px;
    float: left;
}
.Banktext1{
    color: #888888;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.Banktext2, .Banktext3{
    color: #888888;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}
.CU{
    margin-left: 330px;
    float:left;
}
.CUtext1{
    font-size: 18px;
    color: #3cc6aa;
    font-family: 'Ubuntu', sans-serif;
}
.CUtext2, .CUtext3{
    color: #888888;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}
.bot{
    margin-left: 63px;
    margin-top: 500px;
}
.bottxt1, .bottxt2, .bottxt3, .bottxt4, .bottxt5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #717171;
}